.Books {
  padding: 1rem;
  border: 1px solid #cecece;
  margin: 4rem 6.25rem;
}

.BoxInput {
  display: flex;
  justify-content: space-between;
  margin-top: 00.5rem;
}

.adBook {
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.BoxInput input {
  width: 29%;
}

.BoxInput input[type=text] {
  padding: 0.5rem;
}

.BoxInput select {
  padding: 0.5rem;
}

.BoxInput button {
  width: 20%;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
