@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa !important;
  overflow-x: hidden;
}

.container-fluid {
  background-color: #fff;
}

a {
  text-decoration: none !important;
}

.btn {
  width: min-content;
}

p {
  margin: 0 !important;
}

.TextStatus {
  margin: 1rem 4rem !important;
}

.checkStatus {
  margin-left: 2rem !important;
}
